{% extends "base.html" %}

{% block content %}

	<div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="card mt-4">
             <div class="col-xl-10 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Atualizar dados do projeto</h4>
                  <p class="mb-0">Certifique-se de preencher corretamente todos os campos</p>
                </div>
                <div class="card-body">
                  <form role="form" action="{{ url_for('projeto.atualiza_projeto') }}" method="POST">
                    <div class="input-group input-group-outline mb-3">
                      <select class="form-control" name="dono_proj" required>
						<option>---Escolha o solicitante* ---</option>
						{% for cli in clientes %}
						<option value="{{cli.id_cliente}}"{%if projeto.cliente_id == cli.id_cliente%}selected{%endif%}>{{ cli.nome }}</option>
						{% endfor %}
					  </select>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label"></label>
                      <input type="text" name="titulo" value="{{projeto.titulo}}" class="form-control" placeholder="Nome do projeto*" required>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <select class="form-control" name="tipo" required>
			
						<option {% if projeto.tipo == "Landing Page" %} selected {% endif %} value="Landing Page">Landing Page</option>
						<option {% if projeto.tipo == "Site institucional" %} selected {% endif %} value="Site institucional">Site institucional</option>
						<option {% if projeto.tipo == "Blog Pessoal" %} selected {% endif %} value="Blog Pessoal">Blog Pessoal</option>
						<option {% if projeto.tipo == "Blog comercia" %} selected {% endif %} value="Blog comercial">Blog comercial</option>
						<option {% if projeto.tipo == "Portal" %} selected {% endif %} value="Portal">Portal</option>
						<option {% if projeto.tipo == "One Page" %} selected {% endif %} value="One Page">One Page</option>
						<option {% if projeto.tipo == "E-commerce" %} selected {% endif %} value="One Page">One Page</option>
						<option {% if projeto.tipo == "Loja Dropshiping" %} selected {% endif %} value="One Page">One Page</option>
					  </select>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <select class="form-control" name="tec" required>
						<option>--- Tecnologia usada* ---</option>
						<option {% if projeto.tecnologia == "Python" %} selected {% endif %} value="Python">Python</option>
						<option {% if projeto.tecnologia == "WordPress" %} selected {% endif %} value="WordPress">WordPress</option>
					  </select>
                    </div>
                    <div class="form-check form-check-info text-start ps-0">
                      <label class="form-check-label" for="flexCheckDefault">
                      <p class="text-dark font-weight-bolder">Forneça mais detalhes</p>
                      </label>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label"></label>
                      <textarea class="form-control" name="desc" rows="6" required>{{ projeto.detalhes }}</textarea>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label"></label>
                      <input type="text" name="valor" value="{{ projeto.valor }}" class="form-control" placeholder="Valor total*" required>
                    </div>
					<div class="input-group input-group-outline mb-3">
                      <select class="form-control" name="metodo_pag" required>
						<option>--- Método de pagamento* ---</option>
						<option {% if projeto.metodo_pag == "Pix" %} selected {% endif %} value="Pix">Pix</option>
						<option {% if projeto.metodo_pag == "Cartão" %} selected {% endif %} value="Cartão">Cartão</option>
						<option {% if projeto.metodo_pag == "Boleto" %} selected {% endif %} value="Boleto">Boleto</option>
					  </select>
                    </div>
					<div class="input-group input-group-outline mb-1">
                      <input type="date" name="data" value="{{ projeto.data_entrega }}" class="form-control" required>
                    </div>
                      <label class="text-warning">Informe a data de entrega acima*</label><br />
                    <br />
                    <div class="input-group input-group-outline mb-3">
                      <select class="form-control" name="status" required>
                        <option value="iniciado"{%if projeto.status == 'iniciado'%}selected{%endif%}>Iniciado</option>--- status: iniciado ---</option>
                        <option value="em atraso"{%if projeto.status == 'em atraso'%}selected{%endif%}>Em atraso</option>------ status: em atraso ---</option>
                        <option value="cancelado"{%if projeto.status == 'cancelado'%}selected{%endif%}>Cancelado</option>--- status: cancelado ---</option>
                        <option value="finalizado"{%if projeto.status == 'finalizado'%}selected{%endif%}>Finalizado</option>--- status: finalizado--- status: finalizado ---</option>
                        <option value="congelado"{%if projeto.status == 'congelado'%}selected{%endif%}>Congelado</option>--- status: congelado ---</option>


                      </select>   
                    </div>
                    <label class="text-secondary">status atual</label>
						
						<!-- ID DO PROJETO SENDO PASSADO PELO HIDDEN -->
						<input type="hidden" value="{{projeto.id_projeto}}" name="id_projeto">
						
                    <div class="text-center">
                      <button type="submit" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">Atualizar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>  
		  
		  
		  
          
	</div>
{% endblock %}