{% extends "base.html" %}

{% block content %}

      <div class="row">
        <div class="col-12">
          <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
              <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                <h6 class="text-white text-capitalize ps-3">Exibindo 10 registros por página</h6>
              </div>
            </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7">ID</th>
                      <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7">Cliente</th>
                      <th class="text-uppercase text-secondary text-s font-weight-bolder opacity-7 ps-2">Telefone</th>
                      <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">Status</th>
                      <th class="text-center text-uppercase text-secondary text-s font-weight-bolder opacity-7">Ações</th>
                    </tr>
                  </thead>
                  <tbody>
					{% for cli in cliente %}
                    <tr>
						<td>
							<div class="d-flex px-3 py-1">
								<div class=" d-flex flex-column justify-content-center">
									<h6 class="mb-0 text-s">{{ cli.id }}</h6>
								</div>
							</div>
						</td>
						<td>
							<div class="d-flex px-2 py-1">
								<div class="d-flex flex-column justify-content-center">
								<h6 class="mb-0 text-s">{{ cli.nome }}</h6>
								<p class="text-sm text-secondary mb-0">{{ cli.email }}</p>
								</div>
							</div>
						</td>
						<td>
							<p class="text-s font-weight-bold mb-0">{{ cli.fone }}</p>
							<p class="text-sm text-secondary mb-0">Organization</p>
						</td>
						<td class="align-middle text-center text-sm">
							<span class="badge badge-sm bg-gradient-{%if cli.status == 'tudo ok'%}success{%else%}warning{%endif%}">{{ cli.status }}</span>
						</td>
						<td class="align-middle text-center">
							<a href="{{ url_for('cliente.form_editar_cliente', id_cliente=cli.id) }}" title="Alterar dados">
								<span class="material-symbols-outlined text-dark text-lg">edit_square</span>
							</a>
							<a href="{{ url_for('cliente.form_editar_cliente', id_cliente=cli.id) }}" title="Ver detalhes">
								<span class="material-symbols-outlined text-info text-lg">visibility</span>
							</a>
						</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}