{% extends "base.html" %}

{% block content %}

	<div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
		
		{% if request.args["msg"] %}
		<div class="alert alert-{{request.args['alert']}} alert-dismissible text-white" role="alert">
			<span class="text-sm">{{request.args["msg"]}}</span>
			<button type="button" class="btn-close text-lg py-3 opacity-10" data-bs-dismiss="alert" aria-label="Close">
			  <span aria-hidden="true">&times;</span>
			</button>
		</div>
		{% endif %}
		
          <div class="card mt-4">
             <div class="col-xl-10 col-lg-5 col-md-7 d-flex flex-column ms-auto me-auto ms-lg-auto me-lg-5">
              <div class="card card-plain">
                <div class="card-header">
                  <h4 class="font-weight-bolder">Cadastre um novo projeto</h4>
                  <p class="mb-0">Certifique-se de preencher corretamente todos os campos</p>
                </div>
                <div class="card-body">
                  <form role="form" action="{{url_for('projeto.cadastra_projeto')}}" method="POST">
                    <div class="input-group input-group-outline mb-3">
                      <select class="form-control" name="solic" required>
						<option>---Escolha o solicitante* ---</option>
						{% for cli in clientes %}
						<option value="{{cli.id_cliente}}">{{ cli.nome }}</option>
						{% endfor %}
					  </select>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Nome do projeto*</label>
                      <input type="text" class="form-control" name="nome" required>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <select class="form-control" name="tipo" required>
						<option>--- Tipo de projeto* ---</option>
						<option value="Landing Page">Landing Page</option>
						<option value="Site institucional">Site institucional</option>
						<option value="Blog Pessoal">Blog Pessoal</option>
						<option value="Blog comercial">Blog comercial</option>
						<option value="Portal">Portal</option>
						<option value="One Page">One Page</option>
					  </select>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <select class="form-control" name="tec" required>
						<option>--- Tecnologia usada* ---</option>
						<option value="Python">Python</option>
						<option value="WordPress">WordPress</option>
					  </select>
                    </div>
					
                    <div class="form-check form-check-info text-start ps-0">
                      <label class="form-check-label" for="flexCheckDefault">
                      <p class="text-dark font-weight-bolder">Forneça mais detalhes</p>
                      </label>
                    </div>
					
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label"></label>
                      <textarea class="form-control" name="desc" rows="6" placeholder="Descreva detalhes do projeto..." required></textarea>
                    </div>
                    <div class="input-group input-group-outline mb-3">
                      <label class="form-label">Valor total*</label>
                      <input type="text" class="form-control" name="valor" required>
                    </div>
					<div class="input-group input-group-outline mb-3">
                      <select class="form-control" name="metodo_pag" required>
						<option>--- Método de pagamento* ---</option>
						<option value="Pix">Pix</option>
						<option value="Cartão">Cartão</option>
						<option value="Boleto">Boleto</option>
					  </select>
                    </div>
					<div class="input-group input-group-outline mb-1">
                      <input type="date" class="form-control" name="data" required>
                    </div>
                      <label class="">Informe a data de entrega acima*</label><br />
					  
					  <!-- CAMPO STATUS OCULTO-->
					  <input type="hidden" name="status" value="iniciado">
					
                    <div class="text-center">
                      <button type="submit" class="btn btn-lg bg-gradient-dark btn-lg w-100 mt-4 mb-0">Cadastrar</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>  
		  
		  
		  
          
	</div>
{% endblock %}